* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
header {
  background-color: cornflowerblue;
  padding: 2rem 0;
  text-align: center;
}
header h1 {
  font-size: 3rem;
  padding: 1rem;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 2rem;
  padding: 2rem;
}
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: cornflowerblue;
  padding: 2rem;
}
#form div {
  display: flex;
  flex-direction: column;
}
#form #container {
  display: grid;
  grid-template-columns: repeat(2, 40rem);
  gap: 1rem;
}
#form label {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
}
#form input {
  height: 2.5rem;
  border: 2px solid cornflowerblue;
  border-radius: 5px;
}
#form button {
  background-color: #fff;
  height: 3rem;
  width: 6rem;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}
#form button:hover {
  background-color: cornflowerblue;
  color: #fff;
  border: 1px solid #fff;
}
.cont {
  position: relative;
  display: inline-block;
}
.tooltip {
  visibility: visible;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem;
  position: absolute;
  top: -40px;
  left: 50%;
  white-space: nowrap;
  opacity: 1;
}
footer {
  background-color: cornflowerblue;
  padding: 1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
